<h1>Eat-Da-Burger!</h1>

<h2>Burgers that have not been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bg">Burger Name:</label>
    <input type="text" id="burger-name" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Devour It!</label><br>
    <input type="radio" name="devour" value="1"> Devour!<br>
    <input type="radio" name="devour" value="0" checked> Don't Devour
  </div>

  <button type="submit">Add Burger</button>
</form>

<style>
    button{
        background-color: blueviolet;
    }
</style>

<script>
    $(".create-form").on("submit", function(event) {
        event.preventDefault();
        var burgerName = $("#burger-name").val()
        console.log(burgerName);
        $.post("/api/burgers", {burgerName: burgerName},function(data){
            console.log(data);
            location.reload();
        })
    })




</script>